{{#if event.isAttending }}
  <div class="page-head">
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p>Vibe: {{ event.vibeName }}</p>
    <div class="button-wrapper">
      {{#if event.isAuthor }}
        <button class="primary" id="start-event">Start event</button>
        <button>Edit event</button>
      {{else}}
        <button class="warning" id="leave-button">Leave event</button>
      {{/if}}
    </div>
  </div>

  <div class="event-wrapper">
    <aside>

      <div class="user-list-container">
        <p class="head">Author</p>
        <ul class="user-list">
          <li data-user="{{ event.author.uid }}">
            <div class="avatar" style="background: url({{#if event.author.avatar }}{{ event.author.avatar }}{{ else }}/img/default.jpg{{/if}}) no-repeat center; background-size: cover;">
              <div class="indicator"></div>
            </div>
            <p>{{ event.author.name }}</p>
          </li>
        </ul>
      </div>

      <div class="user-list-container margin">
        <p class="head">Attendees</p>
        <ul class="user-list">
          {{#each event.attendees as |attendee i|}}
            <li data-user="{{ attendee.uid }}">
              <div class="avatar" style="background: url({{#if attendee.avatar }}{{ attendee.avatar }}{{ else }}/img/default.jpg{{/if}}) no-repeat center; background-size: cover;">
                <div class="indicator"></div>
              </div>
              <p>{{#if attendee.name }}{{ attendee.name }}{{ else }}{{ attendee.username }}{{/if}}</p>
            </li>
          {{/each}}
        </ul>
      </div>

    </aside>

    <article>

      <div class="player-container" id="player">
        <div class="artwork-wrapper">
          <div class="artwork" id="artwork"></div>
        </div>
        <div class="player-wrapper">
          <h3 id="track-name"></h3>
          <p id="artist"></p>

          <div class="controls">
            <div class="control prev" id="prev"></div>
            <div class="control margin paused" id="toggle"></div>
            <div class="control next" id="next"></div>
          </div>

          <div class="tracker">
            <p id="progress"></p>
            <p id="duration"></p>
            <div class="track">
              <div class="marker" id="marker"></div>
            </div>
          </div>
        </div>
      </div>

      <table class="player-queue" id="player-queue">
        <thead>
          <tr>
            <td>Title</td>
            <td>Artist</td>
            <td>Length</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </article>
  </div>
{{ else }}

  <div class="join-event-container">
    <div class="join-event">
      <h1>{{ event.title }}</h1>
      <p>{{ event.description }}</p>
      {{#if event.needsPassword }}
        <div class="field-list">
          <div class="field">
            <label for="event-password">Enter the event password: *</label>
            <input type="password" id="event-password">
          </div>
        </div>
      {{/if}}
      <button id="join-button" class="primary">Join event</button>
    </div>
  </div>

{{/if}}

<script> var eventId = '{{{ event.id }}}'; </script>
<script src="/js/event.js"></script>

{{#if event.isAuthor}}
  <script>var spotifyAuth = JSON.parse('{{{ jsonAuth }}}');</script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="/js/event-admin.js"></script>
{{/if}}
