{{#if event.isAttending }}
  <div class="page-head">
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <div class="button-wrapper">
      {{#if event.isAuthor }}
        <button class="primary" id="start-event">Start event</button>
        <button>Edit event</button>
      {{else}}
        <button class="warning" id="leave-button">Leave event</button>
      {{/if}}
    </div>
  </div>
{{ else }}

  <div class="join-event-container">
    <div class="join-event">
      <h1>{{ event.title }}</h1>
      <p>{{ event.description }}</p>
      {{#if event.needsPassword }}
        <div class="field-list">
          <div class="field">
            <label for="event-password">Enter the event password: *</label>
            <input type="password" id="event-password">
          </div>
        </div>
      {{/if}}
      <button id="join-button" class="primary">Join event</button>
    </div>
  </div>

{{/if}}

<script> var eventId = '{{{ event.id }}}'; </script>
<script src="/js/event.js"></script>
