{{#if event.isAttending }}
  <div class="page-head">
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <div class="button-wrapper">
      {{#if event.isAuthor }}
        <button class="primary" id="start-event">Start event</button>
        <button>Edit event</button>
      {{else}}
        <button class="warning" id="leave-button">Leave event</button>
      {{/if}}
    </div>
  </div>
{{ else }}

  {{#if event.needsPassword }}
    <label for="event-password">Enter the event password: *</label>
  {{/if}}
  <button id="join-button">Join event</button>

{{/if}}

<script> var eventId = '{{{ event.id }}}'; </script>
<script src="/js/event.js"></script>
