<div class="page-head">
  <h1>Home</h1>
  <p>This is the main page where you can create your own events, and view all the events you have joined.</p>
  <div class="button-wrapper">
    <button class="primary" id="create-event-button">Create event</button>
  </div>
</div>

<div class="event-list-wrapper">
  <div class="event-list">
    <h2>Your events</h2>
    <ul class="events" id="author-events">
      {{#each authorEvents as |event i|}}
        <li>
          <a href="{{ event.url }}">
            <h3>{{ event.title }}</h3>
            <div class="meta">
              <p>Author: <span>{{ event.author.name }}</span></p>
              <p>Attendees: <span>{{ event.attendeeCount }}</span></p>
            </div>
            <p>{{ event.description }}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="event-list">
    <h2>Events you are attending</h2>
    <ul class="events">
      {{#each attendingEvents as |event i|}}
        <li>
          <a href="{{ event.url }}">
            <h3>{{ event.title }}</h3>
            <div class="meta">
              <p>Author: <span>{{ event.author.name }}</span></p>
              <p>Attendees: <span>{{ event.attendeeCount }}</span></p>
            </div>
            <p>{{ event.description }}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<section class="modal-container" id="event-modal-container">
  <div class="modal-wrapper" id="event-modal-wrapper">
    <article class="modal" id="event-modal">
      <div class="event-head">
        <h2>Create event</h2>
        <p>Choose a title, description, vibe and password (optional).</p>
      </div>

      <div class="field-list">
        <div class="field">
          <label for="event-title">Title: <span>*</span></label>
          <input type="text" id="event-title">
        </div>

        <div class="field">
          <label for="event-slug">Url slug: <span>*</span></label>
          <input type="text" id="event-slug">
        </div>

        <div class="field">
          <label for="event-description">Description: <span>*</span></label>
          <textarea id="event-description"></textarea>
        </div>

        <div class="field vibes">
          <label>Vibe: <span>*</span></label>
          <ul class="vibe-list">
            {{#each vibeNames as |vibe i|}}
              <li>{{ vibe }}</li>
            {{/each}}
          </ul>
        </div>

        <div class="field">
          <label for="event-password">Password: (optional)</label>
          <input type="password" id="event-password">
        </div>
      </div>

      <div class="button-wrapper">
        <button id="cancel-create-event">Cancel</button>
        <button class="primary" id="create-event">Create</button>
      </div>
    </article>
  </div>

  <div class="modal-wrapper feedback" id="event-feedback-wrapper">
    <article class="modal" id="event-feedback-modal">
      <div class="event-head">
        <h2>Event created! 🎉</h2>
        <p>Now all you have to do is to copy and send out the link below to all the people at the event. Have fun!</p>
      </div>
      <div class="field-list">
        <div class="field">
          <label for="event-url">Event url</label>
          <input type="text" id="event-url">
        </div>
      </div>
      <div class="button-wrapper">
        <a href="" id="event-button-link">
          <button class="secondary">Go to event</button>
        </a>
        <button class="primary" id="close-event-feedback">Thanks!</button>
      </div>
    </article>
  </div>
</section>

<script>var vibes = JSON.parse('{{{ vibes }}}');</script>
<script src="/js/home.js"></script>
